body {
    background-color: antiquewhite;
    text-align: center;
}

h1 {
    color:#c71585;
}

img {
    width: 300px;
    height: auto;
    box-shadow: 10px 10px 20px #ffb6c1(128, 128, 128, 0.5);
    border-radius: 10px;
    margin-top: 20px;
}